{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger title">Identifiants incorrects</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3 title">
                    Vous êtes connectés comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal title">Merci de vous connecter</h1>
            <label for="inputUsername">Pseudo</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-3" autocomplete="username" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se rappeler de moi
                </label>
            </div>
            <div class="display">
                <button class="btn btn-lg btn-warning" type="submit">Connexion</button>
                <a class="btn btn-lg btn-outline-dark" href="#">Mot de passe oublié</a>
            </div>
        </form>
    </div>
{% endblock %}
