{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}
{% block body_class %}homepage{% endblock %}

{% block body %}
    <section class="home">
        <h1 class="title-home">MOOVING</h1>
    </section>
    <section class="home-mobile">
        <h2 class="title-home-mobile">MOOVING</h2>
    </section>
{% endblock %}
