{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    

    <h1 class="title">MOOVING</h1>

    

    <div class="my-3 text-center">
    <a class="btn btn-warning text-center" href="{{ path('admin_vehicle_index')}}">C'est par ici</a>
    </div>
        
{% endblock %}
