{% extends 'base.html.twig' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block body %}
    <div class="container">
        <h1>Résultats de la recherche pour "{{ query }}"</h1>
        {% if vehicles is empty %}
            <p>Aucun résultat trouvé pour "{{ query }}"</p>
        {% else %}
            <ul>
                {% for vehicle in vehicles %}
                    <li>{{ vehicle.brand }} {{ vehicle.model }}</li>
                    {# Ajoutez d'autres détails du véhicule si nécessaire #}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
