@charset "UTF-8";
body {
  background-color: bisque;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.container {
  margin-top: 70px;
}

.logo {
  width: 50px;
  height: auto;
}

.home {
  width: 100%;
  height: 100vh;
  background: url("/assets/images/home.jpg") no-repeat center center fixed;
  background-size: cover;
}

.home-mobile {
  width: 100%;
  height: 100vh;
  background: url("/assets/images/home_mobile.jpg") no-repeat center center fixed;
  background-size: cover;
  display: none;
}

@media (max-width: 890px) {
  .home {
    display: none;
  }
  .home-mobile {
    display: block;
  }
}
.title {
  margin-top: 100px;
}

h1.title-home {
  position: relative;
  top: 8%;
  /* Positionne le titre au milieu de l'écran */
  left: -100%;
  /* Commence hors de l'écran à gauche */
  animation: slideIn 1s ease-out 0.3s forwards;
  /* Animation sur 1 seconde, avec un délai de 0,3 seconde */
  background: linear-gradient(to right, #afadad, #2f2f2f);
  /* Dégradé de blanc cassé à gris foncé */
  -webkit-background-clip: text;
  /* Applique le dégradé uniquement au texte */
  -webkit-text-fill-color: transparent;
  /* Rendre le texte transparent pour voir le dégradé */
  font-size: 220px;
  /* Taille de police pour le titre */
  margin-left: 40px;
  /* Enlever les marges par défaut */
}

h1.title-home-mobile {
  position: relative;
  top: 8%;
  left: -100%;
  animation: slideIn 1s ease-out 0.3s forwards;
  background: linear-gradient(to right, #afadad, #2f2f2f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  margin-left: 40px;
  writing-mode: vertical-rl;
  /* Affiche le texte verticalement de droite à gauche */
  text-orientation: upright;
  /* Les caractères sont affichés verticalement */
}

@media (max-width: 890px) {
  h1.title-home {
    display: none;
  }
  h1.title-home-mobile {
    display: block;
  }
}
@media (max-width: 565px) {
  h1.title-home-mobile {
    top: 16%;
  }
}
div.button-enter {
  position: relative;
  top: 27%;
  /* Positionne le titre au milieu de l'écran */
}

/* Ajoutez ce code CSS dans votre fichier CSS personnalisé */
/* Styles pour la nouvelle classe custom-row */
.custom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Styles pour la nouvelle classe custom-col */
.custom-col {
  flex: 0 0 30%;
  /* 30% de la largeur totale */
  margin-bottom: 20px;
  /* Ajoute un espace entre les cartes */
}

/* Styles pour la nouvelle classe custom-card */
.custom-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Ajoute une ombre douce */
  border-radius: 15px;
  /* Bords arrondis */
  overflow: hidden;
  /* Masque le contenu qui dépasse */
}

/* Styles pour la nouvelle classe custom-img */
.custom-img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
  /* Coins arrondis uniquement en haut */
}

/* Styles pour la nouvelle classe custom-card-body */
.custom-card-body {
  padding: 20px;
  transition: transform 0.3s ease;
  /* Ajoute une transition pour l'effet de zoom */
}

/* Effet de zoom au survol */
.custom-card:hover .custom-card-body {
  transform: scale(1.1);
}

/* Styles pour la nouvelle classe custom-title */
.custom-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-link {
  text-decoration: none;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.wdth25 {
  width: 25%;
}

.wdth40 {
  width: 40%;
}

.custom-card-vehicle {
  width: 48%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
}

@media (max-width: 454px) {
  #none {
    display: none;
  }
}
@keyframes slideIn {
  to {
    left: 0;
    /* Se déplace vers sa position finale */
  }
}/*# sourceMappingURL=app.css.map */