@charset "UTF-8";
body {
  background-color: bisque;
  font-family: "Roboto", sans-serif;
}

.container {
  margin-top: 70px;
}

.logo {
  width: 50px;
  height: auto;
}

.home {
  width: 100%;
  height: 100vh;
  background: url("/assets/images/home.jpg") no-repeat center center fixed;
  background-size: cover;
}

.title {
  margin-top: 100px;
}

h1.title-home {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: relative;
  top: 8%;
  left: -100%;
  animation: slideIn 1s ease-out 0.3s forwards;
  background: linear-gradient(to right, #afadad, #2f2f2f);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 220px;
  margin-left: 40px;
}

@media (max-width: 890px) {
  .home {
    background: url("/assets/images/home_mobile.jpg") no-repeat center center fixed;
  }
  h1.title-home {
    background: linear-gradient(to top, #c5e419, #a36c07);
    -webkit-background-clip: text;
            background-clip: text;
    font-size: 70px;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}
@media (max-width: 565px) {
  h1.title-home-mobile {
    top: 16%;
  }
}
/* Styles pour la nouvelle classe custom-row */
.custom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Styles pour la nouvelle classe custom-col */
.custom-col {
  flex: 0 0 30%;
  /* 30% de la largeur totale */
  margin-bottom: 20px;
  /* Ajoute un espace entre les cartes */
}

/* Styles pour la nouvelle classe custom-card */
.custom-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Ajoute une ombre douce */
  border-radius: 15px;
  /* Bords arrondis */
  overflow: hidden;
  /* Masque le contenu qui dépasse */
}

.custom-card-vehicle {
  width: 48%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
}

/* Styles pour la nouvelle classe custom-img */
.custom-img {
  height: 200px;
  border-radius: 15px 15px 0 0;
  /* Coins arrondis uniquement en haut */
}

/* Styles pour la nouvelle classe custom-card-body */
.custom-card-body {
  padding: 20px;
  transition: transform 0.3s ease;
  /* Ajoute une transition pour l'effet de zoom */
}

/* Effet de zoom au survol */
.custom-card:hover .custom-card-body {
  transform: scale(1.1);
}

/* Styles pour la nouvelle classe custom-title */
.custom-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-link {
  text-decoration: none;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.pad_search {
  padding-right: 20px;
}

/* Ajustez le style de l'icône selon vos besoins */
#btn_search svg {
  width: 1rem;
  /* Ajustez la taille de l'icône */
  height: 1rem;
  fill: currentColor;
  /* Utilise la couleur courante (définie par le texte du bouton) pour l'icône */
  pointer-events: none;
  /* Permet de cliquer à travers l'icône */
}

/* Ajustez la taille du bouton de recherche */
#btn_search {
  min-width: 44px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  margin-left: 1px;
  /* Ajustez la largeur minimale du bouton selon vos besoins */
}

#search-input {
  border-right: none;
  border: #2f2f2f solid 1px;
}

@media (max-width: 545px) {
  #none {
    display: none;
  }
}
@keyframes slideIn {
  to {
    left: 0;
    /* Se déplace vers sa position finale */
  }
}/*# sourceMappingURL=app.css.map */