body {
    background: url('../images/home.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo {
    width: 50px;
    height: auto;

}

h1.title {
    position: relative;
    left: -100%; /* Commence hors de l'écran à gauche */
    animation: slideIn 1s ease-out 0.3s forwards; /* Animation sur 1 seconde, avec un délai de 0,3 seconde */
    background: linear-gradient(to right, #afadad, #2f2f2f); /* Dégradé de blanc cassé à gris foncé */
    -webkit-background-clip: text; /* Applique le dégradé uniquement au texte */
    -webkit-text-fill-color: transparent; /* Rendre le texte transparent pour voir le dégradé */
    font-size: 220px; /* Taille de police pour le titre */
    margin: 0; /* Enlever les marges par défaut */
    padding: 20px; /* Ajouter un peu de padding */
}



@keyframes slideIn {
    to {
        left: 0; /* Se déplace vers sa position finale */
    }
}